.cart-icon {
    width: 65px;
    height: 65px;
    position: relative;
    top: -13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .shopping-icon {
        width: 24px;
        height: 24px;
    }

    .item-count {
        position: absolute;
        bottom: 20px;
        font-size: 15px;
    }
}