.checkout-item {
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 80px;
    }

    .remove-button {
        width: 8%;
        cursor: pointer;
    }

    .arrow {
        margin: 0 5px;
        padding: 0 2px;
        cursor: pointer;
    }
}